/* Landing Page */

.homepage-logo {
    height: calc(100vh - 10rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-content {
    margin-top: -10rem;
}

.main-content .specs-svg {
    width: 242px;
}

.main-content .specs-svg svg {
    margin-top: 3rem;
}

.sub-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -4rem;
}

.sub-content .club {
    font-size: 5rem;
    opacity: .85;
    padding: .5rem;
}

.sub-content .college-name {
    font-size: 2.5rem;
    opacity: .6;
    padding: .5rem;
}


/* About section */

.about {
    min-height: calc(100vh - 10rem);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-section .section-heading {
    font-size: 8rem;
    padding: .5rem 1rem;
    margin-bottom: 2rem;
    font-weight: 400;
}

.scroll-hide {
    opacity: 0;
    transform: translateX(-10rem);
    transition: all .5s;
}

.scroll-show {
    opacity: 1;
    transform: translateX(0);
    transition: all 1s;

}

.about-section .section-content {
    font-size: 3rem;
    flex: 1;
    padding: 1rem 10rem;
    border-radius: 1rem;
    text-align: center;
    font-weight: 300;
}