.login-signup {
    position: absolute;
    top: 8rem;
    left: 0;
    width: 100%;
    height: calc(100vh - 8rem);
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(15px);
    transition: .3s ease;
    z-index: 1;
}

.login-signup::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--text);
    opacity: .2;
    z-index: -1;
}

.dialog-box {
    max-width: 40%;
    min-width: 50rem;
    height: auto;
    height: 80%;
    padding: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 10px 10px 20px -10px var(--black), 15px 15px 20px -200px var(--black);
}

.dialog-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bg);
    opacity: .3;
    z-index: -1;
    border-radius: 2rem;
}

.login-signup-switcher {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: .5rem 1rem;
    margin-bottom: 2rem;
}

.switch {
    width: 40%;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    text-align: center;
    color: var(--text);
    opacity: .7;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.switch.active {
    background: var(--bg);
    color: var(--text);
    border-radius: 1rem;
    transition: background, color.3s ease-in-out;
    opacity: 1;
    font-weight: bold;
}

.fields {
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .3s ease;
    opacity: 0;
    padding: 0 .5rem;
    overflow: auto;
}

.fields.active {
    opacity: 1;
    height: auto;
}

.fields .name-field {
    display: flex;
}

.fields .button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin-top: 1rem;
}

.fields .button a {
    padding: 1rem 5rem;
}