@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

:root {
    --primary: #163955;
    --secondary: #8fcbeb;
    --bg: #000000;
    --text: #ffffff;
    --black: #000000;
    --white: #ffffff;
    --red1: #fb2323;
    --red2: #ff3700;
}

::selection {
    background: var(--text);
    color: var(--bg);
}

::-webkit-scrollbar {
    width: .6rem;
}

::-webkit-scrollbar-thumb {
    width: 100%;
    border-radius: 1rem;
    background: linear-gradient(to bottom, transparent, var(--c1), var(--c2), transparent);
    border-radius: 1rem;
}

::-webkit-scrollbar-track {
    width: 100%;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.2);
    opacity: .3;
    transition: .3s;
}

::-webkit-scrollbar-track:hover {
    background: rgba(255, 255, 255, 0.3);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    color: var(--text);
    background: var(--bg);
    font-family: "Poppins", sans-serif;
    overflow: scroll;
}

body.dark {
    --bg: #000000;
    --text: #ffffff;
}

body.light {
    --text: #000000;
    --bg: #ffffff;
}

a {
    color: var(--text);
    text-decoration: none;
    display: grid;
    place-items: center;
}

ul,
ol {
    list-style: none;
}

img {
    width: 100%;
}